
@{
    ViewBag.Title = "New";
}
<style>
    h2 {
        padding-top: 100px;
    }
</style>
<h2 style="margin-top:25px;">New Teacher</h2>

<form method="POST" action="/Teacher/Create">
    <div>
        <label for="teacherfname">Teacher's First Name:</label>
        <input type="text" id="teacherfname" name="teacherfname" />
    </div>
    <div>
        <label for="teacherlname">Teacher's Last Name:</label>
        <input type="text" id="teacherlname" name="teacherlname" />
    </div>
     
        <div>
            <label for="employeenumber">Employee ID Number:</label>
            <input type="text" id="employeenumber" name="employeenumber" />
        </div>

    
    <div>
        <label for="salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" />
    </div>
    <div>
        <label for="hireDate">Hire Date:</label>
        <input type="date" id="hireDate" name="hireDate" />
    </div>
    <div>
        <input type="submit" value="Create Teacher" />
    </div>


</form>

